<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title>Backend Clicket.be</title>
  	<meta name="description" content="Clicket Backend">
  	<meta name="author" content="Niels Bril, Jeffrey Descan">

  	<!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

  	<style>
		html {
			height: 100%;
		}

		body {
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			height: 100%;
			padding: 0;
			margin: 0;
		}

		main {
			text-align: center;
			display: flex;
		  	align-items: center;
		  	justify-content: center;
			height: 100%;
		}

		h1, h3 {
			text-transform: uppercase;
		}

		h1 {
			font-size: 2em;
		}
  	</style>
</head>

<body>
	<main>
		<section>
			<h1>Clicket backend</h1>
			<h3>The easy parking payment solution</h3>
		</section>
	</main>
</body>
</html>