module.exports = {
    jwt_secret: 'U65NKkyw6gKh2qJYnyFTEUmxNEJvpB76',
    db_dev: 'mongodb://clicket:NMCT147SBP@webtotal.be:27017/clicketdev',
    db_prod: 'mongodb://clicket:NMCT147SBP@192.168.1.20:27017/clicket',
    redis_dev: {
        engine: 'redis',
        port: 6379,
        host: 'webtotal.be'
    },
    redis_prod: {
        engine: 'redis',
        port: 6379,
        host: 'localhost'
    }
};